.basicInput {
  width: 27rem;
  height: 3.5rem;
  color: #8d8d8d;
  background-color: #343333;
  border-radius: 6px;
  border: 1px solid #8D8D8D;
  padding-left: 1rem;
  outline: none;
}


@media screen and (max-width:640px) {
  .basicInput {
    width: 20rem;
  }
}

.basicInput::placeholder {
  color: #8D8D8D;
}
